*{
  background-color: rgb(223, 221, 221);
}


h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  text-align: center;
  background: black;
  color: white;
  position: relative;
  left: -12px;
  top: -25px;
  height: 80px;
  width:100vw;
}

.containerx{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.happy{
  position: fixed;
  margin-left: 10px;
}

